@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Login"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                @Html.AntiForgeryToken()
                <form id="loginForm" asp-controller="Account" asp-action="Login" method="post">
                    <div class="mb-3">
                        <label for="Input_Email" class="form-label">@Localizer["Email"]</label>
                        <input type="email" class="form-control" id="Input_Email" name="Input.Email" required />                
                    </div>
                    <div class="mb-3">
                        <label for="Input_Password" class="form-label">@Localizer["Password"]</label>
                        <input type="password" class="form-control" id="Input_Password" name="Input.Password" required />
                    </div>
                    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
                    <div class="text-danger" id="loginErrors" style="display:none;"></div>
                    <button class="btn btn-primary" type="submit">@Localizer["Login"]</button>
                </form>
            </div>
        </div>
    </div>
</div>